@charset "utf-8";
    @media screen and (max-width:600px) {
        .navigation {
            display: none;
        }
    }

    @media screen and (min-width:600px) {
        .navigation_for_mobile {
            display: none;
        }
    }



    @media screen and (min-width:1000px) {
        /*specifitaion */
        a,li,p,blockquote {
            font-size: 20px;
        }
        h1 {
            font-size: 38px;
        }
        /* end specifictaion */
        .logo img {
            width: 220px;
            height: 220px;
        }
        .navigation {
            padding: 5% 0 0 10%;
        }
        .navigation a {
            font-size: 20px;
            color: #fff;
            font-weight: 600;
        }
        .navigation a:hover {
            border-bottom: 1px solid #c0e217;
        }
        .wrapper_for_img {
            margin-left: 5%;
        }
        .about_under_headline_blockquote blockquote {
            margin-top: -6%;
        }
        .about_under_headline_image {
            float: left;
        }
        .about_under_headline_image:after {
            clear: both;
            display: table;
        }
        .about_main_content {
            margin-top: 5%;
        }
        .about_main_contenent_first_row {
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }
        .about_main_contenent_second_row {
            display: grid;
            grid-template-columns: 50% 50%;
        }
    
        .about_main_content_item p {
            font-size: 18px !important;
        }
        .team h3 {
            padding: 30px;
        }
        .team_our_team {
            display: flex;
            justify-content: space-around;
        }
        .map {
            width: 40%;
        }
        .wrapper_for_contact {
            display: flex;
            justify-content: space-between;
        }
        .contact_contact {
            margin-right: 20%;
        }
        
    }