@charset "utf-8";
/* Specification */
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    text-decoration: none !important;
}
.bg_gragient {
    background: linear-gradient( to left top, #e5e4e2 30% , #1a1b1d ) !important;
}
/* google fonts */
    /* font for headline */
        /*Caveat', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&subset=cyrillic');
        /*'Ledger', serif;*/
@import url('https://fonts.googleapis.com/css?family=Ledger&subset=cyrillic');
        /*Roboto Slab*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&subset=cyrillic');

h1,h2,h3,h4,h5,h6 {
    /* font-family: 'Caveat', cursive; */
    font-family: 'Ledger', serif;
    color: rgb(88, 86, 86);
    font-style: italic;
    font-weight: 900;
    text-align: center;
    font-size: 20px;
    line-height: 1.4em;
}
a,p,li,blockquote {
    font-family: 'Roboto Slab', serif;
}

/* end specification */

.first_row {
    padding-top: 3%;
}

.logo img {
    width: 120px;
    height: 120px;
}
.logo { 
    transform: translateX(-500%); 
        animation: logomove 2.5s ease-out 1s 1 normal forwards; 
        } 
        @keyframes logomove { 
        0% { 
        transform: translateX(-500%) rotate(0); 
        } 
        100% { 
        transform: translateX(0)rotate(360deg); 
        } 
}

header {
    background: #1a1b1d;
}
.block_shadow {
    box-shadow: inset 0 4px 5px rgba(12, 12, 12, 0.5);
}

h1 {
    margin-top: 15%;
    position: relative;
    letter-spacing: 3px;
    text-transform: uppercase;
    overflow: hidden;
    background: linear-gradient(90deg, #000,#fff,#000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 7s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,0);
}
@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}
.last_row  {
    padding: 15% 0 15% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.phone a {
    color: #fff !important;
    font-size: 20px;
}
.phone a:hover {
    color: #c0e217 !important;
}
.text-me {
    border: 1px solid #fff !important;
    padding: 6px;
}
.text-me a {
    color: #fff;
}
.text-me a:hover {
    color: #c0e217;
}
.text-me a{
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
/* .bounce {
    animation-name: bounce;
    animation-timing-function: linear;
} */
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}
.navigation_for_mobile a {
    text-align: center;
    color: #fff !important;
}
.navigation_for_mobile a:hover {
    border-bottom: 1px solid #c0e217;
}
.navbar-toggler:hover {
    border: 1px solid #c0e217 !important;
}

.about {
    padding-bottom: 2%;
}

.about_headline {
    padding-top: 8%;
}
.about_headline h2 {
    color: rgb(22, 22, 22);
}
.about_headline span {
    color: #fff;
    font-size: 22px;
}
.about_under_headline_blockquote {
    padding: 15% 0;
    text-align: center;
}
.about_under_headline_blockquote blockquote {
    line-height: 1.9rem;
}
.about_under_headline_blockquote span {
    font-size: 22px;
    color: #fff;
}
.about_under_headline_blockquote blockquote:before {
    content: "\201c";
    font-size: 40px;
}
.about_under_headline_blockquote blockquote:after {
    content: "\201d";
    font-size: 40px;
}
.wrapper_for_img   {
    text-align: center;
}
/* add frame for picture*/
.figure {
    display: inline-block; /* Строчно-блочный элемент */
    padding: 12px; /* Расстояние от рамки до уголка */
    position: relative; /* Относительное позиционирование */
    overflow: hidden; /* Обрезаем лишнее */
   } 
   .figure::before, .figure::after {
    content: ''; /* Выводим уголки */
    position: absolute; /* Абсолютное позиционирование */
    z-index: 2; /* Уголки поверх */
    width: 70px; height: 70px; /* Размеры уголка */
    left: -35px; bottom: -35px; /* Левый нижний уголок */
    transform: rotate(45deg); /* Поворачиваем уголок */
    box-shadow: 0 0 10px rgba(0,0,0,.5); /* Параметры тени */
    outline: #8a8989 dashed 1px; /* Пунктирная линия */
    outline-offset: -3px; /* Расстояние от края до линии */
    background: #f7f6f2; /* Цвет фона */
    z-index: 3;
   }
   .figure::after {
    /* Правый верхний уголок */ 
    left: auto; right: -35px; top: -35px;
   }
   .border1 {
    position: relative; /* Относительное позиционирование */
   }
   .border1, .border1::after {
    padding: 4px; /* Толщина внутренней рамки */
    background: #e6e3e0; /* Цвет внутренней рамки */
    border: 3px solid #858380; /* Параметры рамки */
    box-sizing: border-box; /* Не учитываем padding */
    z-index: 2;
   }
   .border1 img { display: block;}
   .border1::after {
    content: ''; /* Выводим рамку */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; top: 0; /* Положение */
    width: 100%; height: 100%; /* Размеры */
    z-index: -1; /* Опускаем вниз */
    transform: rotate(-4deg); /* Поворачиваем */
   }
   /* end add frame */
.about_main_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5vw;
}
.about_main_content_item {
    display: grid;
    grid-template-rows: 90px 20px 100px;
    grid-gap: 10px;
    justify-items: center;
    z-index: 1;
    padding-top: 7px;
}
.color_white {
    color: #fff;
    font-size: 80px;
    margin-bottom: 5%;
}
.about_main_content_item h3 {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}
.about_main_content_item p {
    text-align: center;
}
.about_main_content_item:hover {
    border: 1px solid #f7f7f7;
    z-index: 3;
}
.about_main_content_item:last-child {
    margin-bottom: 2%;
}
.assortment {
    padding-bottom: 5%;
}
.nav-item a {
    color: #fff;
}
.tab-pane-item  {
    text-align: center;
    position: relative;
}
.tab-pane-item h4 {
    font-size: 28px;
    color: black;
    text-shadow: 1px 1px #bbb9b8;
}
.tab-pane-item p {
    font-weight: 500;
}
.tab-pane-item span {
    color: rgb(236, 230, 230);
}
.tab-pane-item span:after {
    content: "/";
    color: rgb(66, 65, 65);
    margin-left: 2%;
}
.tab-pane-item a {
    font-size: 20px;
    color: rgb(10, 10, 10);
}
.tab-pane-item .price {
    display: none;
 }
.tab-pane-item:hover .price {
    display: block;
    font-size: 20px;
    background: rgba(229, 228, 226, .5);
    color: black;
    position: absolute;
    width: 150px;
    left: 5%;
    top: 60%;
}
.alert a {
    color: gray;
}
.alert {
    margin-bottom: 0;
}
.atmosphere {
    background: #e5e4e2;
}
.atmosphere h3 {
    color: #fff;
}
.team_our_team_item {
    text-align: center;
}
.team_our_team_item img {
    border-radius: 50%;
}
.team {
    margin-bottom: 5%;
}
.team h3 {
    color: black;
    font-weight: 600;
}
.map {
    margin: 0 1%;
    padding: 2% 0;
}
.fab {
    font-size: 50px;
    color: black;
}
.contact_contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.link a {
    color: #1a1b1d;
}
.link a:hover {
    color: rgb(209, 207, 207);
    cursor: pointer;
}
.phone__black  a {
    color: #1a1b1d;
}
.phone__black a:hover {
    color: #fff;
}
footer {
    padding: 10px;
    color: #fff;
    background: linear-gradient(rgb(29, 28, 28) 90%,white);
    text-align: center;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
footer span {
    font-size: 15px;
    color: #8a8989;
}
footer a {
    text-decoration: none;
    color: #757474;
}
footer a:hover {
    color: #c0e217;
}
footer div {
    margin-right: 1%;
}
.go_up {
    font-size: 17px;
}
.go_up a {
    color: #fff;
    font-size: 13px;
}

